.back {
    height: 40px;
    background-color: blue;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.title {
    height: 150px;
    background-color: darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back a {
    color: azure;
}